@import '../../assets/scss/variables';

.Landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-blue;
  background-color: $white-blue;
  min-height: 93vh;
  padding: 1rem 3rem;

  &-title {
    font-size: 2rem;
  }
}
